absl-py==1.4.0
aiodns==3.1.1
aiofiles==22.1.0
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.19.0
alpha-vantage==2.3.1
altair==5.1.2
annotated-types==0.7.0
ansiwrap==0.8.4
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
arch==5.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
ascii-magic==1.6
asgiref==3.8.1
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
Babel==2.13.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backoff==2.2.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
base58==2.1.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bitarray==2.8.2
black==22.10.0
bleach==6.1.0
blinker==1.6.3
Bottleneck @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_07078715-3ab7-4562-8d3d-d56b0eaa0f7dp504n_ny/croots/recipe/bottleneck_1657175566567/work
bs4==0.0.1
bt==0.2.9
build==1.2.1
cachetools==5.3.3
ccxt==4.1.33
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.5.0
click==8.1.7
coincurve==18.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.4
commonmark==0.9.1
contourpy==1.1.1
convertdate==2.4.0
cryptography==41.0.3
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.5
cytoolz==0.12.2
dataclasses-json==0.6.7
dataclassy==0.11.1
dateparser==1.1.8
DateTime==5.2
debugpy==1.8.0
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deepdiff==7.0.1
defusedxml==0.7.1
degiro-connector==2.0.21
Deprecated==1.2.14
detecta==0.0.5
dnspython==2.6.1
ecdsa==0.18.0
eciespy==0.4.0
effdet==0.4.1
eip712==0.1.0
email_validator==2.1.1
emoji==2.12.1
enforce-typing==1.0.0.post1
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==4.2.1
eth-account==0.10.0
eth-brownie==1.19.3
eth-event==1.2.3
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.5.1
eth-utils==2.3.0
exceptiongroup==1.2.1
exchange-calendars==4.5
execnet==1.9.0
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.18.1
feedparser==6.0.10
ffn==0.3.6
filelock==3.14.0
filetype==1.2.0
financedatabase==2.1.0
finnhub-python==2.4.19
finviz==1.4.6
finvizfinance==0.14.7rc1
flake8==6.1.0
flatbuffers==24.3.25
fonttools==4.43.1
formulaic==0.6.6
fqdn==1.5.1
fred==3.1
fredapi==0.4.3
frozendict==2.3.8
frozenlist==1.4.1
fsspec==2024.5.0
fundamentalanalysis==0.2.14
future==0.18.3
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.19.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-cloud-vision==3.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.0
grpcio-status==1.62.2
h11==0.14.0
h5py @ file:///Users/ktietz/ci_310/h5py_1644262287129/work
hexbytes==0.3.1
hijri-converter==2.3.1
holidays==0.14.2
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.1
humanfriendly==10.0
hypothesis==6.27.3
idna==3.7
importlib-metadata==7.0.0
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==1.1.1
interface-meta==1.3.0
intrinio-sdk==6.26.1
iopath==0.1.10
ipfshttpclient==0.8.0a2
ipyflex==0.2.6
ipykernel==6.26.0
ipympl==0.8.4
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
iso8601==0.1.16
isodate==0.6.1
isoduration==20.11.0
jax==0.4.8
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
json-sempai==0.4.0
json5==0.9.14
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-server==1.23.6
jupyter-ydoc==0.2.5
jupyter_client==7.4.1
jupyter_core==5.5.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
keras==2.14.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
kubernetes==29.0.0
langchain==0.2.8
langchain-chroma==0.1.1
langchain-community==0.2.7
langchain-core==0.2.20
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.88
layoutparser==0.3.4
lazy-object-proxy==1.7.1
libclang==15.0.6.1
linearmodels==4.31
llama-index==0.8.29
loguru==0.7.2
lru-dict==1.2.0
lxml==4.9.3
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.8.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mattsollamatools==0.0.21
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
mplfinance==0.12.10b0
mpmath==1.3.0
msg-parser==1.2.0
mstarpy==0.0.4
multiaddr==0.0.9
multidict==6.0.5
multitasking==0.0.11
mypy-extensions==1.0.0
mythx-models==1.9.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
netaddr==0.8.0
networkx==3.3
nixtlats==0.1.17
nltk==3.8.1
notebook==6.5.6
notebook_shim==0.2.3
numexpr==2.8.7
numpy==1.26.4
oandapyV20==0.6.3
oauthlib==3.2.2
ocean-contracts==1.1.15
ocean-lib==3.0.4
olefile==0.47
ollama==0.2.1
omegaconf==2.3.0
onetimepass==1.0.1
onnx==1.16.1
onnxruntime==1.18.0
openai==0.28.1
openapi-schema-pydantic==1.2.4
openbb==3.2.3
opencv-python==4.9.0.80
openpyxl==3.1.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==1.5.3
pandas-datareader==0.10.0
pandas-market-calendars==3.2
pandas-ta==0.3.14b0
pandocfilters==1.5.0
papermill==2.4.0
parsimonious==0.9.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec==0.10.1
patsy==0.5.3
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
peewee==3.17.0
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pikepdf==9.0.0
Pillow==10.1.0
pillow_heif==0.16.0
platformdirs==3.11.0
plotly==5.18.0
pluggy==1.0.0
pmaw==3.0.0
portalocker==2.8.2
posthog==3.5.0
praw==7.7.1
prawcore==2.4.0
prometheus-client==0.18.0
prompt-toolkit==3.0.39
property-cached==1.6.4
proto-plus==1.23.0
protobuf==4.25.3
psaw==0.0.12
psutil==5.9.6
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pulsar-client==3.5.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.11.0
py-solc-ast==1.2.9
py-solc-x==1.1.1
pyally==1.1.2
pyarrow==13.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycares==4.4.0
pycocotools==2.0.7
pycodestyle==2.11.1
pycoingecko==3.1.0
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.17
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
pyflakes==3.1.0
Pygments==2.18.0
pygments-lexer-solidity==0.7.0
pyhdfe==0.2.0
PyJWT==1.7.1
pyluach==2.2.0
PyMeeus==0.5.12
Pympler==1.0.1
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyOpenSSL==23.0.0
pyotp==2.9.0
pypandoc==1.13
pyparsing==3.1.1
pypdf==4.2.0
pypdfium2==4.30.0
PyPika==0.48.9
PyPrind==2.11.3
pyproject_hooks==1.1.0
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==1.34.0
pythclient==0.1.15
python-binance==1.0.19
python-coinmarketcap==0.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-i18n==0.3.9
python-iso639==2024.4.27
python-jose==3.3.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.23
pythx==1.6.1
pytrends==4.9.2
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pyunormalize==15.0.0
pywry==0.6.2
PyYAML==6.0.1
pyzmq==24.0.1
Quandl==3.7.0
rapidfuzz==2.13.7
rdflib==7.0.0
referencing==0.30.2
regex==2023.10.3
reportlab==3.6.13
requests==2.32.3
requests-futures==1.0.1
requests-oauthlib==2.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rlp==3.0.0
robin-stocks==2.1.0
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.10.1
screeninfo==0.6.7
seaborn==0.11.2
selenium==4.17.2
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.2
sentence-transformers==2.7.0
setproctitle==1.3.3
setuptools-scm==8.0.4
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SPARQLWrapper==2.0.0
SQLAlchemy==2.0.31
squarify==0.4.3
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.13.5
stocksera==0.1.21
streamlit==1.28.0
svglib==1.5.1
sympy==1.12
ta==0.10.2
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.14.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
tensorflow-metal==1.1.0
termcolor==2.2.0
terminado==0.17.1
textblob==0.15.3
textwrap3==0.9.2
thepassiveinvestor==1.2.1
threadpoolctl==3.2.0
tiktoken==0.5.1
timm==1.0.3
tinycss2==1.2.1
tokenizers==0.19.1
tokenterminal==1.0.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.3.0
torchvision==0.18.0
tornado==6.3.3
tqdm==4.66.4
tradingview-ta==3.3.0
traitlets==5.13.0
transformers==4.41.1
trio==0.24.0
trio-websocket==0.11.1
typer==0.12.3
types-python-dateutil==2.8.19.14
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
ujson==5.10.0
unstructured==0.14.3
unstructured-client==0.22.0
unstructured-inference==0.7.33
unstructured.pytesseract==0.3.12
update-checker==0.18.0
uri-template==1.3.0
urllib3==2.2.2
user-agent==0.1.10
uvicorn==0.29.0
uvloop==0.19.0
vaderSentiment==3.3.2
validators==0.22.0
valinvest==0.0.2
varint==1.0.2
voila==0.4.0
vvm==0.1.0
vyper==0.3.7
watchdog==2.3.1
watchfiles==0.21.0
wcwidth==0.2.9
web3==6.11.2
webcolors==1.13
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==4.0.9
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.2.0
y-py==0.6.2
yahooquery==2.3.2
yarl==1.9.4
yfinance==0.2.31
ypy-websocket==0.8.4
zipp==3.18.2
zope.interface==6.1
